<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Daily Challenge</title>

    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,300&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./assets/css/main.css" />
  </head>

  <body>
    <div class="cursor"></div>
    <div class="background">
      <div class="background--one"></div>
      <div class="background--two"></div>
      <div class="background--three"></div>
    </div>

    <div class="page">
      <section class="section--central">
        <div class="section--central__image">AQUI CUADRADO CENTRAL</div>
        <h2 class="section--central__text">AQUI EL TEXTO</h2>
      </section>
    </div>
  </body>
</html>
<!-- <partial src="_header.html" title="Bienvenidos a Adalab"></partial>
      <partial src="_main.html" label="Main"></partial>
      <partial src="_link.html" aClass="link__adalab" text="Adalab" url="https://adalab.es"></partial>
      <partial src="_link.html" aClass="link__github" text="GitHub" url="https://github.com"></partial>
      <partial src="_footer.html"></partial> -->
